[submodule "HelloSDL/Framework/External/sdlmobile_ios_library_public"]
	path = HelloSDL/Framework/External/sdlmobile_ios_library_public
	url = https://github.com/smartdevicelink/sdl_ios.git
	branch = bugfix/7.1_transport_fixes
